{% extends "index.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rooms</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Room Name</th>
                                    <th>Capacity</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in rooms %}
                                <tr>
                                    <td>{{ room.name }}</td>
                                    <td>{{ room.capacity }}</td>
                                    <td>
                                        <label class="badge status-badge {% if room.id not in unavailable_room_ids %}available{% else %}unavailable{% endif %}">
                                            {% if room.id not in unavailable_room_ids %}Available{% else %}In Use{% endif %}
                                        </label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 